* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Courier, sans-serif;
}

.body {
    width: 100%;
    padding: 0 5% 0 5%;
    background-color: lightblue;
}

#heading {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

#form {
    padding: 15px;
}

.results {
    padding: 0 5% 0 5%;
}